body{
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*We will use index.css file in other .html files too. Because of this we do not style img tag directly. Instead
        we use its parent to access it.*/
#logo>img{
    height: 70px;
    width: auto;
}
#background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-container {
    display: flex;
    justify-content: center; /*We write this to put the image to the center */
}

.image-container img {
    width: 50%;
    height: auto; /*We set this as auto to keep the ratio*/
}

/*Like img tags, we style p tag by its parent instead of directly styling them*/
.container>p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    text-align: center;
    background-color: rgba(8, 8, 8, 0.50); /* We gave a background color to the text because the background image is too confusing*/
    padding: 10px; 
}

header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    border-bottom: 1px #61BF5E solid;
    background-color: black;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0;
    padding: 0px 5px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    margin: 4px 0;
    list-style: none;
}
li{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    margin:0px 10px;
}
li:hover{
    background-color: rgb(85, 85, 81);
}
li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 35px;
    color: #61BF5E;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
}

/*From this line, we style the footer*/
footer{
    display: flex;
    justify-content: flex-end;
    border-top: 1px #61BF5E solid;
    background-color: black;
}
.footer-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}
h6{
    width: 75%;
    margin: 10px 0;
    font-size: 20px;
    text-align: end;
    color: white;
}

h5{
    width: 75%;
    margin: 10px 0;
    font-size: 20px;
    text-align: end;
    color: gray;
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}
.links>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    color: gray;
}
.links>a:hover{
    color: #61BF5E;
}
i{
    width: 100%;
    text-align: center;
    font-size: 30px;
}